
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="layoutGroup41" class="sortable">
    <div id="module_listproducts" class="block">
        <h1 class="tr_tieu_de"> Quy định đổi trả sản phẩm</h1>
        <div class="intro"></div><div class="clear">
        </div><div class="clear"></div>
        <div class="blockcontent">
            <div class="tr_content">
                <p><span style="font-weight: 400;">Nếu bạn không hài lòng với sản phẩm mới được giao hàng hoặc dịch vụ khách hàng của PetShop và muốn đổi trả sản phẩm, PetShop sẵn sàng đổi trả cho bạn. Bên dưới đây là 1 số thông tin hữu ích về đổi trả sản phẩm.</span></p>
                <ul>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">PetShop sẵn sàng đổi trả sản phẩm đã bán.</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">PetShop khuyến khích quý khách hàng nên kiểm tra sản phẩm trước khi thanh toán.</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">PetShop có chính sách đổi trả 30 ngày cho đơn hàng giao tại TP Hồ Chí Minh.</span></li>
                </ul>
                <h2><span style="font-weight: 400;">1. Tình trạng sản phẩm được đổi trả</span></h2>
                <ul>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Còn nguyên tem nhãn bao bì, mới 100%</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Còn hạn sử dụng (date) trên 06 tháng</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Có hóa đơn mua hàng từ PetShop</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Còn mới, không dơ bẩn bám vết bẩn, có mùi hôi..</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Không có dấu hiệu đã sử dụng như mở nắp bao bì, chai, lọ…</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Không có ghi chú, băng dính do thêm vào từ bên ngoài</span></li>
                </ul>
                <h2><span style="font-weight: 400;">2. Phương thức đổi trả và thời gian giải quyết</span></h2>
                <ul>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Chụp ảnh sản phẩm muốn đổi trả kèm hóa đơn mua hàng gửi về zalo, viber hoặc inbox fanpage.</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Thời gian xử lý đổi trả là 2 – 4 giờ kể từ lúc nhận được yêu cầu.</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Khách hàng không tốn phí hay phụ phí khi đổi trả.</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Áp dụng đổi trả tại văn phòng kho của PetShop, tại 310 Trần Hưng Đạo, phường Đông Hòa, thị xã Dĩ An, tỉnh Bình Dương</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Nếu khách hàng muốn đổi trả tận nơi, cần chi trả tiền ship cho dịch vụ giao hàng.</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Không xử lý đổi trả sau thời gian 30 ngày kể từ ngày giao hàng.</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Khách hàng có thể đổi sản phẩm khác; hoặc nhận giftcash có giá trị tương đương; hoặc nhận tiền chuyển khoản.</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Hàng khuyến mãi, hàng tặng, hàng mua bằng Giftcash không đổi trả.</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Nếu đơn hàng yêu cầu đổi trả phát sinh từ sai sót của PetShop, PetShop sẽ xử lý lỗi trong 2 giờ kể từ khi nhận thông báo, khách hàng không tốn phí và áp dụng cho tất cả đơn hàng nội thành TP Hồ Chí Minh và ở các tỉnh thành khác.</span></li>
                </ul>
                <h2><span style="font-weight: 400;">3. Hướng dẫn đóng gói để đổi trả sản phẩm</span></h2>
                <p><span style="font-weight: 400;">Sản phẩm nếu đổi trả nên cho lại vào thùng carton PetShop đã giao hàng. Nếu không còn, quý khách hàng tham khảo cách đóng gói sản phẩm bên dưới.</span></p>
                <ul>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Hàng nhẹ, nhỏ, gọn, không dễ vỡ: Cho vào túi giấy / bọc / màng quấn nylon, dán băng keo ôm sát vào hàng hóa để định hình và niêm phong kiện hàng. Nhỡ dán nhãn tên người nhận là PetShop kèm số điện thoại và địa chỉ.</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Hàng chất lỏng, thủy tinh, dễ vỡ: Đóng gói với màng xốp khí (bubble wrap), dán băng keo kín xung quanh, và cho vào thùng giấy carton, chèn kín giấy báo xung quanh để tránh xê dịch khi vận chuyển, niêm phong kỹ miệng và đáy thùng. Nhỡ dán nhãn tên người nhận là PetShop kèm số điện thoại và địa chỉ. Nhớ ghi chú hàng dễ vỡ.</span></li>
                    <li style="font-weight: 400;"><span style="font-weight: 400;">Hàng nặng, lớn, cồng kềnh: Đóng gói trong thùng giấy carton, chèn kín giấy báo xung quanh để tránh hàng hóa bị xê dịch, niêm phong kỹ miệng và đáy thùng. Nhỡ dán nhãn tên người nhận là PetShop kèm số điện thoại và địa chỉ. Nhớ ghi chú hàng nặng.</span></li>
                </ul><p><span style="font-weight: 400;">Nhằm tránh rắc rối và tiết kiệm thời gian cho khách hàng, PetShop khuyến khích bạn nên kiểm tra sản phẩm trước khi thanh toán.</span></p>
            </div>
        </div>
        <div class="clear">&nbsp;</div>
        <div class="clear"></div>
        <div class="clear"></div>
    </div>
</div>
