<!--<aside>
    <div id="sidebar" class="nav-collapse">-->
        <!-- sidebar menu start-->
        <!--<div class="leftside-navigation">
            <ul class="sidebar-menu" id="nav-accordion">
                <li>
                    <a class="active" href="/Admin/Home">
                        <i class="fa fa-home"></i>
                        <span>Trang chủ</span>
                    </a>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fas fa-dolly-flatbed"></i>
                        <span>Sản phẩm</span>
                    </a>
                    <ul class="sub">
                        <li><a href="/Admin/Category">Loại sản phẩm</a></li>
                        <li><a href="/Admin/Product">Danh sách</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="fas fa-users"></i>
                        <span>Người dùng</span>
                    </a>
                    <ul class="sub">
                        <li><a href="basic_table.html">Nhóm người dùng</a></li>
                        <li><a href="responsive_table.html">Danh sách</a></li>
                    </ul>
                </li>
                <li class="sub-menu">
                    <a href="javascript:;">
                        <i class="far fa-file-alt"></i>
                        <span>Đơn hàng</span>
                    </a>
                    <ul class="sub">
                        <li><a href="form_component.html">Chưa giao</a></li>
                        <li><a href="form_validation.html">Đã giao</a></li>
                        <li><a href="dropzone.html">Toàn bộ</a></li>
                    </ul>
                </li>
            </ul>
        </div>-->
        <!-- sidebar menu end-->
    <!--</div>
</aside>-->
